/* .heading-primary {
    font-size: 2rem;
    font-weight: 400 ;  
}


.paragraph {
    font-size: 1.6rem;    
}

 */

 
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: black;
}
