

.center-element { text-align: center;}

.full-height { height : 97vh !important;}


/* 
//Margins ##############################################################

.margin-bottom-small { margin-bottom: 1rem; }
.margin-bottom-medium { margin-bottom: 2rem; }
.margin-bottom-big    { margin-bottom: 4rem; } */


.show {  display: block !important; }

.showImage { opacity: 1 !important; }

.show-startPage {
    display: flex !important;
}

.turn-visible {
    opacity: 1 !important;
    visibility: visible !important;
}


.fill-bar {
    // background-color: rgba(245, 16, 176, 0.5);
    background-position:left bottom !important; //upon hover : red comes from left to right , and it covers the whole surface
}








