
.show-popupContainer {
    opacity: 1 !important;
    visibility: visible !important;
}


.show-popup {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translate(-50%,-50%) scale(1) !important;
}

.center-element { text-align: center;}

.full-height { height : 97vh !important;}


.start-button-activated {
    background-color: #f2f3f2;
    animation:blink .5s infinite;
}


.start-timer {
    width: 100% !important;
    background: darken(red, 20%) !important;
}


.show {  display: block !important; }

.showImage { opacity: 1 !important; }

.show-startPage {
    display: flex !important;
}

.show-QuestionContainer-flex {
    display: flex !important;
    flex-direction: column !important;
}

.turn-visible {
    opacity: 1 !important;
    visibility: visible !important;
}


.fill-bar {
    background-position:left bottom !important; //upon hover : red comes from left to right , and it covers the whole surface
}



.display-Letter {
    margin-right: 0rem !important; // starts 47rem. ends = 0rem
}

.title-change-color {
    @supports (-webkit-background-clip: text) or (background-clip: text) {  //if the browser supports these then do the following
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;

        background-image: linear-gradient(to top, #4a260300, #4a260386, #4a2603);
    }

}


.score-page-scaleUp {
    transform : scale(1) !important;
}








