
.show-popupContainer {
    opacity: 1 !important;
    visibility: visible !important;
}


.show-popup {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translate(-50%,-50%) scale(1) !important;
}

.center-element { text-align: center;}

.full-height { height : 97vh !important;}


.start-button-activated {
    background-color: #f2f3f2;
    animation:blink .5s infinite;
}


.show {  display: block !important; }

.showImage { opacity: 1 !important; }

.show-startPage {
    display: flex !important;
}

.turn-visible {
    opacity: 1 !important;
    visibility: visible !important;
}


.fill-bar {
    // background-color: rgba(245, 16, 176, 0.5);
    background-position:left bottom !important; //upon hover : red comes from left to right , and it covers the whole surface
}









