//For grid ###############################################################

$gutter-vertical   : 5rem;
$gutter-horizontal : 5rem;
$grid-width        : 120rem;


// Colors

$color-1-main: #172e7c;
$color-2-main: #bb302d;
$color-3-main: #569834;

// ###################################

$body-padding-top : 3vh;


