

.popups {
    z-index: 222;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.137);

     // starts hidden :
     opacity: 0;
     visibility: hidden;
}

