
.start-page-container {

    // display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display:none;

    
    &__select-number-container {
        margin-right: .3rem;
        border-top-left-radius: 5px;
    }

    &__select-difficulty-container {
        border-top-right-radius: 5px;
    }


    &__select-number-container , &__select-difficulty-container  {
        width:30rem; 
        @include respond(phone) { width:25rem; }
        @include respond(phone-small) { width:18rem; }
        background-color: #d9d9d9;
        // width: 60%;
        font-size: 1.6rem;
        padding: 1.5rem;


        & label { width: 40%;}

        & select  {
            width: auto;
            font-size: 1.6rem;
            border-radius: 4px;
            color: rgb(156, 12, 12);
        }

    }

}


.selectNumberAndDifficultyWrapper {
    margin-top: 2rem;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
   
}







