
.start-page-container {

    // display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display:none;

    
    &__select-number-container {
        margin-right: .3rem;
        border-top-left-radius: 5px;
    }


    &__select-number-container , &__select-difficulty-container  {

        display: flex;
        justify-content: center;
        align-items: center;


        width:30rem; 
        @include respond(phone) { width:23rem; }
        @include respond(phone-small) { 
            width:18rem;
            flex-direction: column;
        }
        @include respond(myExperia) { width:13rem; }

        background-color: #d9d9d9;
        // width: 60%;
        font-size: 1.6rem;
        padding: 1.5rem;


        & label { 
            margin-right: .4rem; @include respond(phone-small) { margin-bottom: 2rem; } 
         }

        & select  {
            width: auto;
            font-size: 1.6rem;
            border-radius: 4px;
            color: rgb(156, 12, 12);
        }

    }

    &__toggleTimer-container {
        border-top-right-radius: 5px;

        display: flex;
        justify-content: space-between; @include respond(phone-small) {  justify-content: center; }


        align-items: center;
        flex-direction: column;

        margin-left: .3rem;
        background-color: #d9d9d9;
        font-size: 1.6rem;
        padding: 1rem 1rem;  @include respond(phone-small) { padding: 1.5rem; }

        &-text {
            margin-bottom:.4rem; @include respond(phone-small) { margin-bottom:0;}
        }

    }

}


.selectNumberAndDifficultyWrapper {
    margin-top: 2rem;
    display: flex;
    align-items: stretch;
    // justify-content: space-evenly;


    & > div {
        @include respond(phone-small) {justify-content: space-between;}
    }
   
}







