
.header {
    font-size: 2.2rem;
    width: 100%;
    border-bottom: 4px solid rgb(100, 94, 94);
    padding: 2.5rem 0;
    background-color: #becaf3;
    border-radius: 1rem 1rem 0 0;
    font-weight: 700;
    
    position: relative;
}